# Ⅰ. 엘페이이용정보

In [2]:
import pandas as pd
import pymysql
import pandas as pd
from sqlalchemy import create_engine

pymysql.install_as_MySQLdb()
import MySQLdb

## 가. Mysql연동 후 데이터 불러오기

In [3]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='lpoint', db='lpoint', charset='utf8')
cur = conn.cursor()
cur.execute("SELECT cust, de_dt, buy_am FROM 엘페이이용_view ORDER BY cust, de_dt DESC;")

custData, dateData, meanData, maxData, num, meanbuyData, buyData, sumbuyData = [], [], [], [], [], [], [], []

while True:
    column = cur.fetchone()
    if column == None:
        break
    custData.append(column[0])
    dateData.append(column[1])
    buyData.append(column[2])

## 나. 데이터 계산
### - 고객별 일평균 소비금액
### - 고객별 일합계 소비금액
### - 고객별 사용 일수
### - 고객별 평균 재이용기간
### - 고객별 가장 큰 재이용기간

In [4]:
# "no meaning" : cust를 추가 하지 않을 경우 for 문에서 마지막 고객을 계산하지 않은 상태로
#                for문을 종료하게 된다.

custData.append("no meaning")

cust, cust_date_data, cal_data, cal_buy_data = [], [], [], []

for v in custData:
    if v not in cust:
        cust.append(v)

for i in range(len(custData)-1):
    if custData[i] == custData[i+1]:
        cust_date_data.append(dateData[i])
        cal_buy_data.append(buyData[i])
    else:
        cust_date_data.append(dateData[i])
        cal_buy_data.append(buyData[i])
        cust_date_data = list(set(cust_date_data))

        num.append(len(cust_date_data))
        cust_date_data.sort()

        if len(cust_date_data) != 1:
            for i in range(len(cust_date_data)-1):
                cal_data.append([cust_date_data[i+1] - cust_date_data[i]][0].days)
                
            maxData.append(max(cal_data))
            avg = round(sum(cal_data) / len(cal_data))
            meanData.append(avg)
            meanbuyData.append(round(sum(cal_buy_data)/num[0]))
            sumbuyData.append(sum(cal_buy_data))
        else:
            maxData.append(0)
            meanData.append(0)
            meanbuyData.append(cal_buy_data[0])
            sumbuyData.append(cal_buy_data[0])
        cust_date_data = []
        cal_data = []
        cal_buy_data = []

## 다. 'no meaning' 제거

In [5]:
cust = cust[0:len(cust)-1]

## 라. DataFrame 생성

In [6]:
dict = {'cust' : cust, 'max_days' : maxData, 'mean_days' : meanData,
        'count_days' : num, 'avg_am' : meanbuyData, 'sum_am' : sumbuyData}
# 데이터 프레임 생성
df = pd.DataFrame(dict)
df

            cust  max_days  mean_days  count_days   avg_am   sum_am
0     M000136117       260        107           4   284375  1137501
1     M000419293        45         12          30   882175  3528701
2     M000494848        23          5          75  1149904  4599615
3     M000557840        50         10          37   398335  1593340
4     M000871427        62         38           3    12175    48700
...          ...       ...        ...         ...      ...      ...
8901  M999227380        19         19           2   117050   468200
8902  M999268192        61         14          23   256290  1025160
8903  M999599111        40          5          67  1032909  4131637
8904  M999770689        82          5          67   166170   664680
8905  M999962961       119         25          15   858409  3433636

[8906 rows x 6 columns]

## 마. 데이터프레임 MySQL로 내보내기

In [7]:

engine=create_engine('mysql+mysqlconnector://root:lpoint@localhost:3306/lpoint', encoding='utf8')
conn=engine.connect()

df.to_sql(name="엘페이이용정보", con=engine, if_exists='replace', index=False)