# Ⅰ. 재이용기간

In [1]:
import pandas as pd
import pymysql
import pandas as pd
from sqlalchemy import create_engine

pymysql.install_as_MySQLdb()
import MySQLdb

## 가. Mysql연동 후 데이터 불러오기

In [2]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='lpoint', db='lpoint', charset='utf8')
cur = conn.cursor()
custData, dateData, meanData, maxData, minData, num, lastdateData= [], [], [], [], [], [], []
cur.execute("SELECT cust, de_dt, buy_am FROM 엘페이이용_view ORDER BY cust, de_dt DESC;")

while True:
    column = cur.fetchone()
    if column == None:
        break
    custData.append(column[0])
    dateData.append(column[1])

## 나. 재이용기간 계산
### - 고객별 사용 일수
### - 고객별 평균 재이용기간
### - 고객별 가장 큰 재이용기간

In [3]:
# "no meaning" : cust를 추가 하지 않을 경우 for 문에서 마지막 고객을 계산하지 않은 상태로
#                for문을 종료하게 된다.

custData.append("no meaning")
cust, cust_date_data, cal_data, cal_buy_data = [], [], [], [] 

for v in custData:
    if v not in cust:
        cust.append(v)

for i in range(len(custData)-1):
    if custData[i] == custData[i+1]:
        cust_date_data.append(dateData[i])
    else:
        cust_date_data.append(dateData[i])
        lastdateData.append(cust_date_data[0])
        cust_date_data = list(set(cust_date_data))
        num.append(len(cust_date_data))
        cust_date_data.sort()

        if len(cust_date_data) != 1:
            for i in range(len(cust_date_data)-1):
                cal_data.append([cust_date_data[i+1] - cust_date_data[i]][0].days)
            minData.append(min(cal_data))
            maxData.append(max(cal_data))
            avg = round(sum(cal_data) / len(cal_data))
            meanData.append(avg)
        else:
            minData.append(0)
            maxData.append(0)
            meanData.append(0)
        cust_date_data = []
        cal_data = []
        cal_buy_data = []

## 다. 'no meaning' 제거

In [4]:
cust = cust[0:len(cust)-1]

## 라. DataFrame 생성

In [5]:
dict = {'cust' : cust, 'max_days' : maxData, 'min_days' : minData, 'mean_days' : meanData, 'count_days' : num}

# 데이터프레임 생성 (고객번호, 최대재이용기간, 최소재이용기간, 평균재이용기간, 일년내총이용일수)
df = pd.DataFrame(dict)
print(df)
index = df[df['count_days'] == 1].index
print(index)
df = df.drop(index)
df

            cust  max_days  min_days  mean_days  count_days
0     M000136117       260         5        107           4
1     M000419293        45         1         12          30
2     M000494848        23         1          5          75
3     M000557840        50         1         10          37
4     M000871427        62        13         38           3
...          ...       ...       ...        ...         ...
8901  M999227380        19        19         19           2
8902  M999268192        61         1         14          23
8903  M999599111        40         1          5          67
8904  M999770689        82         1          5          67
8905  M999962961       119         3         25          15

[8906 rows x 5 columns]
Int64Index([   5,   32,   39,   61,   64,   74,   81,   82,   84,  101,
            ...
            8812, 8813, 8819, 8844, 8848, 8850, 8851, 8881, 8892, 8900],
           dtype='int64', length=969)

            cust  max_days  min_days  mean_days  count_days
0     M000136117       260         5        107           4
1     M000419293        45         1         12          30
2     M000494848        23         1          5          75
3     M000557840        50         1         10          37
4     M000871427        62        13         38           3
...          ...       ...       ...        ...         ...
8901  M999227380        19        19         19           2
8902  M999268192        61         1         14          23
8903  M999599111        40         1          5          67
8904  M999770689        82         1          5          67
8905  M999962961       119         3         25          15

[7937 rows x 5 columns]

## 마. 데이터프레임 MySQL로 내보내기

In [6]:
engine=create_engine('mysql+mysqlconnector://root:lpoint@localhost:3306/lpoint', encoding='utf8')
conn=engine.connect()

df.to_sql(name="재이용기간", con=engine, if_exists='replace', index=False)